:root {
  --primary-color: #e21;
  --primary-color-dark: #900;

  --primary-bg: #f7f7f7;
  --secondy-bg: #ffffff;

  --btn-theme: #a9a9a9;

  --text: #000000;
  --subtitle: rgba(0, 0, 0, 0.2);

  --bg-image: url('../img/onda-light.svg');
}

.active {
  --primary-bg: #111111;
  --secondy-bg: #000000;

  --text: #ffffff;
  --subtitle: rgba(255, 255, 255, 0.2);

  --bg-image: url('../img/onda-dark.svg');
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: var(--primary-bg);
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
  color: var(--text);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.header {
  display: grid;
  gap: 60px;
  justify-items: center;
}

.btn {
  position: relative;
}

.btn-dark {
  transition: background 0.5s;
}
.btn {
  width: 70px;
  height: 25px;
  border: 2px solid var(--btn-theme);
  border-radius: 60px;
  position: absolute;
  top: 63px;
  right: 180px;
  cursor: pointer;
  transition: right 0.5s;
}

.btn:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: var(--btn-theme);
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: left 0.5s;
}

.btn.active:before {
  left: 48px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu a {
  background: var(--secondy-bg);
  padding: 15px 30px;
  border-radius: 4px;
  color: var(--text);
  text-transform: uppercase;
  border: 2px solid var(--primary-bg);
}

.menu a:hover {
  border-color: var(--primary-color);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.info {
  background: var(--secondy-bg);
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.info h1 {
  font-size: 2rem;
}

.info::before {
  content: '';
  width: 60px;
  height: 4px;
  background: var(--primary-color);
  position: absolute;
  top: 30px;
  right: -30px;
}

.info-image img {
  object-fit: cover;
  height: 100%;
}

.view-more {
  background: var(--primary-color);
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.view-more:hover {
  background: var(--primary-color-dark);
}

.subtitle {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--subtitle);
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: var(--bg-image);
}

.benefits {
  background: var(--secondy-bg);
  padding: 40px;
}

.benefits-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border-left: 4px solid transparent;
}

.benefits-item:nth-child(odd) {
  background: var(--primary-bg);
}

.benefits-item:hover {
  border-color: var(--primary-color);
}

.benefits-item p {
  grid-column: 2;
}

.footer {
  width: 100%;
  background: var(--secondy-bg);
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .container-benefits {
    grid-template-columns: 1fr;
  }
  .subtitle {
    text-align: center;
  }
}

@media (max-width: 600px) {
  body {
    gap: 30px;
    margin-top: 20px;
  }
  .header {
    gap: 30px;
  }
  .menu a {
    display: grid;
  }
  .container {
    grid-template-columns: 1fr;
  }

  .info {
    text-align: left;
    justify-items: start;
  }

  .info::before {
    display: none;
  }
  .subtitle {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .info h1 {
    font-size: 1.5rem;
  }
  .info p {
    font-size: 1rem;
  }
  .view-more {
    justify-items: center;
  }
  .subtitle {
    font-size: 2rem;
  }
}
